<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Your Mad Lib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Your Mad Lib</h1>
      </header>
        <hr>
        <p>One day, a great @Model.Adjective01 panda came uppon a @Model.Noun01. The @Model.Noun01 was very @Model.Adjective02. Infact, it was so @Model.Adjective02 that the panda nearly @Model.Verb01.</p>
        <p>To try and figue out what was infront of him, the @Model.Adjective03 panda went ahead and @Model.Verb02 the @Model.Noun02 he had with him and examined the @Model.Noun01.</p>
        <p>No one is quite sure what happened to the panda after that, but legend says that you can still see his @Model.Noun03 every @Model.TimeOfDay, when the @Model.Noun04 is just right.</p>

    </div>
  </body>
</html>